{% extends 'base.html' %}
{% block title %}
About Us
{% endblock %}

{% block body %}
<div style="display: flex; flex-direction: row;">
    <div style="width: 8%;"></div>
    <div style="width: 84%;">
        <div class="tac">
            <h1>About Us</h1>
        </div>
        <div style="height: 50px;"></div>
        <div class="tac">
            <h4>Euro 2020 Predictor is a project started by Chengjie Zhou (Jay Chou). Jay intended to practice his programming skills by writing this project. This project was entirely written in Django, with programming languages 
                like HTML, CSS, Javascript, Python and more. The whole project code for the view function takes about 450 lines. The predictor page, which is emphasized in this project, is a template that predominantly consists of Javascript and HTML. 
                All of the templates and codes can be viewed on github. Click the Github button in the footer to access the link.
            </h4>
            <br><br>
            <h4>The Euro 2020 Predictor Web App is a platform that allow users to predict the result of the EURO 2020 Tournament. Users are able to drag countries to predict the order of each group in the group stage section, then choose the winner of each
                elimination round and pick the final winner of the tournament in the end. All of these datas can be stored inside the database, which enables user to view their predictions later. Users are also eligable to download a pdf file of their predictions
                by simply pressing the download button after their prediction or in their prediction pages. 
            </h4>
            <br><br>
            <h4>Have more questions? Write an email to euro2020predictor_app@outlook.com or drop a DM under our social media accounts.</h4>    
                
        </div>
        
        
    </div>
</div>


{% endblock %}
