{% extends 'base.html' %}
{% block title %}
Devblog
{% endblock %}

{% block body %}
<div style="display: flex; flex-direction: row;">
    <div style="width: 8%;"></div>
    <div style="width: 84%;">
        <div class="tac">
            <h1>Developer Blog</h1>
        </div>
        
        <div style="height: 50px;"></div>
        <div class="tac">
        
            <h4>Devblog coming soon ...</h4>
        
            <br><br>
            <h4>Have more questions? Write an email to euro2020predictor_app@outlook.com or drop a DM under our social media accounts.</h4>    
        </div>
        
    </div>
</div>


{% endblock %}
