{% extends 'base.html' %}
{% block title %}
Help Us
{% endblock %}

{% block body %}
<div style="display: flex; flex-direction: row;">
    <div style="width: 8%;"></div>
    <div style="width: 84%;">
        <div class="tac">
            <h1>Help Us</h1>
        </div>
        <div style="height: 50px;"></div>
        <div class="tac">
            <h4>We need your help! We would listen to every piece of suggestions made by you in order to enhance your visiting experience.</h4>
            <h4>We are looking for help in the following aspects:</h4>
            <br><br>
            <h4>Overall Web Design (Improving the overall website design to make it more beautiful)</h4>
            <h4>Extra Div After Message (Destroying an extra div that exists after closing the message)</h4>
            <h4>Code Reduction (Some codes in 'view' are redundant. Please share your advice to make the code more efficient) </h4>
            <br><br>
            <h4>... and any further improvements! We will gladly listen to your advice.</h4>
            <h4>You will receive an email from us within 48 hours.</h5>
            <h4>Have more questions? Write an email to euro2020predictor_app@outlook.com or drop a DM under our social media accounts.</h4>
        
        </div>
        
        
    </div>
</div>


{% endblock %}
