{% extends 'base.html' %}
{% block title %}
Terms and Notices
{% endblock %}

{% block body %}
<div style="display: flex; flex-direction: row;">
    <div style="width: 8%;"></div>
    <div style="width: 84%;">
        <div class="tac">
            <h1>Terms and Notices</h1>
        </div>
        <div style="height: 50px;"></div>
        <div class="tac">
            <h4>For information about terms and notices, please contact us via email and use the following format: </h4>
            <br><br>
            <h4>Email: abc@xyz.com</h5>
            <h4>Privacy Notice</h5>
            <br><br>
            <h4>You can ask about the following notices: Privacy Notice, Ads Notice, Cookie Notice.</h4>
            <h4>You can ask about the following terms: Legal, Term of Use, API.</h4>
            <h4>You will receive an email from us within 48 hours.</h4>
            <h4>Have more questions? Write an email to euro2020predictor_app@outlook.com or drop a DM under our social media accounts.</h4>
                        
        </div>
        
        
    </div>
</div>


{% endblock %}
